html, body{
  height:100%;
  width:100%;
  margin:0;
}

.app {
  text-align: left;
}

.app-header {
  background-color: white;
  height: 60px;
  display: flex;
  align-items: center;
  align-content: space-between;
  color: #222;
  border-bottom: 1px solid #4b4b4b;
}

.app-logo {
  height: 48px;
  color: #4b4b4b;
  margin:0 10px 0 20px;
}

.app-title {
  line-height: 60px;
  color: #4b4b4b;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  margin: 0;
}

.app-intro {
  font-size: large;
}

.main{
  height:calc(100vh - 61px);
  display:flex;
}


.place-list{
  height:100%;
  width:400px;
  border-right:1px solid #4b4b4b;
}
.place-select-container{
  width:100%;
  padding:10px 10px 0 10px;
  box-sizing: border-box;
  border-bottom:1px solid #4b4b4b;
}


.place-list-num{
  font-size: 14px;
  padding: 5px;
  height:19px;
  line-height: 19px;
}
.place-select{
  border:1px solid #4b4b4b;
  width:100%;
  border-radius: 5px;
  height:30px;
  font-size: 14px;
}

.place-item-list{
  height:100%;
  padding:0 10px;
  overflow-y: auto;
  height: calc(100% - 70px);
}
.place-item{
  font-size: 12px;
  border:1px solid #4b4b4b;
  margin-top:10px;
  padding:5px 10px;
  box-shadow: 1px 2px 5px #888888;
  border-radius: 3px;
}

.place-item p{
  margin:10px 0;
}

.place-item:hover{
  cursor: pointer;
}

.map-container{
  width :100%;
  height: 100%;
}

@keyframes app-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}